<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">EverydaySG App</h2>
                <!-- <span style="color:red">{{ loginFailMsg }}</span> -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Have an account?</h3>
                    <form class="signin-form" [formGroup]="form" (ngSubmit)="login()">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email address" id="emailAddress" formControlName="email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" formControlName="password" #password id="password-field" required>
                            <span toggle="#password-field" id="password"
                                class="fa fa-fw fa-eye field-icon toggle-password" (click)="showPassword(password)"></span>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                            <span style="color:red" >{{ loginFailMsg }}</span>
                        </div>
                        <!-- <div class="form-group d-md-flex">
                            <div class="w-50">
                                <label class="checkbox-wrap checkbox-primary">Remember Me
                                    <input type="checkbox" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="w-50 text-md-right">
                                <a href="#" style="color: #fff">Forgot Password</a>
                            </div>
                        </div> -->
                    </form>
                    <p class="w-100 text-center">&mdash; Not Registered? &mdash;</p>
                    <div class="social d-flex text-center">
                        <a [routerLink]="['/register']" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span>
                            Create Account</a>
                        <!-- <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span>
                            Twitter</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- <script src="/js/jquery.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script> -->
