<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
        <h1 class="text-center mb-5">Thank you for your donation!</h1>
        <p class="lead text-center">
            We appreciate your generosity and support. Your donation will make a real difference in our lives.
        </p>
        <p class="text-center">
            If you have any questions or concerns, please don't hesitate to contact us.
        </p>
        </div>
    </div>
</div>
  